.search {
  margin-top: 100px;
  text-align: center;
}

.search img:first-child {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.search img:last-child {
  display: block;
  height: 90px;
  width: 250px;
  margin: 0 auto;
}

.wrap {
  width: 830px;
  border-radius: 6px;
  border: 1px solid #d1d5da;
  margin: 60px auto auto;
}

.wrapTitle {
  padding: 16px 0;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  background: rgba(83, 82, 113, 0.7);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.projectItem {
  height: 52px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1d5da;
  padding: 0 24px;
}

.projectItem:last-child {
  border: none;
}
